<a href="https://colab.research.google.com/github/mattambram/banana/blob/main/Lista_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# 1.Salve a base de dados escolhida no seu drive e importe para um notebook do Colab, criando um Dataframe
vinho = pd.read_csv("/content/drive/MyDrive/class_wine_quality.csv")
data_vinhos = pd.DataFrame(vinho)
print(data_vinhos)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 12 columns]

In [2]:
# 2.Inspecione as colunas do conjunto de dados (Nome das colunas e tipo de dados)
print(vinho.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
None

In [3]:
# 3.Escolha uma coluna com valores numéricos e apague todas as linhas que possuam valor nulo
data_vinhos.dropna(subset=['citric acid'], inplace = True)
print(data_vinhos)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 12 columns]

In [4]:
# 4. Calcule a média desta mesma coluna
media_acido = data_vinhos['citric acid'].mean()
print(media_acido)

0.2709756097560976

In [5]:
# 5. Escolha um critério para eliminar as linhas que possuam valores muito distantes da média e crie um novo Dataframe.

linhas_remover1 = data_vinhos[ (data_vinhos['citric acid'] >= 0.47)].index
linhas_remover2 = data_vinhos[ (data_vinhos['citric acid'] <= 0.07)].index
data_vinhos.drop(linhas_remover1 , inplace=True)
data_vinhos.drop(linhas_remover2 , inplace=True )
print(data_vinhos)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
9               7.5             0.500         0.36             6.1      0.071
10              6.7             0.580         0.08             1.8      0.097
11              7.5             0.500         0.36             6.1      0.071
13              7.8             0.610         0.29             1.6      0.114
14              8.9             0.620         0.18             3.8      0.176
...             ...               ...          ...             ...        ...
1593            6.8             0.620         0.08             1.9      0.068
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
9                    17.0                 102.0  0.99780  3.35       0.80
10                   15.0                  65.0  0.99590  3.28       0.54
11                   17.0                 102.0  0.99780  3.35       0.80
13                    9.0                  29.0  0.99740  3.26       1.56
14                   52.0                 145.0  0.99860  3.16       0.88
...                   ...                   ...      ...   ...        ...
1593                 28.0                  38.0  0.99651  3.42       0.82
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71

      alcohol  quality
9        10.5        5
10        9.2        5
11       10.5        5
13        9.1        5
14        9.2        5
...       ...      ...
1593      9.5        6
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5

[940 rows x 12 columns]

In [6]:
# 6. Crie um novo Dataframe que contenha apenas 5 colunas do conjunto anterior
col_pH = data_vinhos["pH"]
col_density = data_vinhos["density"]
col_quality = data_vinhos["quality"]
col_alcohol = data_vinhos["alcohol"]
col_sulphates = data_vinhos["sulphates"]

nova_data_vinhos = pd.concat([col_pH,col_density,col_quality,col_alcohol,col_sulphates],axis=1)
print(nova_data_vinhos)

        pH  density  quality  alcohol  sulphates
9     3.35  0.99780        5     10.5       0.80
10    3.28  0.99590        5      9.2       0.54
11    3.35  0.99780        5     10.5       0.80
13    3.26  0.99740        5      9.1       1.56
14    3.16  0.99860        5      9.2       0.88
...    ...      ...      ...      ...        ...
1593  3.42  0.99651        6      9.5       0.82
1594  3.45  0.99490        5     10.5       0.58
1595  3.52  0.99512        6     11.2       0.76
1596  3.42  0.99574        6     11.0       0.75
1597  3.57  0.99547        5     10.2       0.71

[940 rows x 5 columns]

In [7]:
# 7. Escolha duas colunas numéricas e crie uma nova coluna que siga a regra: (Coluna A - Coluna B)*número aleatório (entre 0 e 1)
lista_ph = col_pH.tolist()
lista_qualidade = col_quality.tolist()
lista_novaColuna = list()
import random
for i,el in enumerate(lista_ph):
  novoEl = (el + lista_qualidade[i])*random.randint(0,1)
  lista_novaColuna.append(novoEl)
print(lista_novaColuna)
nova_data_vinhos.insert(0,"Nova Coluna",lista_novaColuna)
print(nova_data_vinhos)

[8.35, 8.28, 8.35, 8.26, 0.0, 0.0, 8.11, 7.38, 8.52, 0.0, 8.17, 9.43, 0.0, 0.0, 0.0, 0.0, 9.45, 0.0, 9.42, 10.23, 7.5, 8.33, 8.33, 7.26, 0.0, 0.0, 7.9, 8.25, 8.34, 0.0, 8.15, 0.0, 0.0, 8.26, 8.43, 0.0, 8.44, 10.379999999999999, 8.42, 0.0, 8.32, 0.0, 7.3100000000000005, 0.0, 7.16, 8.41, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.93, 7.93, 8.39, 0.0, 0.0, 0.0, 0.0, 0.0, 9.3, 0.0, 0.0, 0.0, 8.46, 0.0, 8.15, 8.15, 9.32, 8.19, 0.0, 9.39, 0.0, 9.34, 0.0, 8.39, 10.42, 8.42, 8.629999999999999, 0.0, 0.0, 8.23, 8.48, 0.0, 0.0, 8.19, 0.0, 0.0, 0.0, 0.0, 9.53, 8.42, 0.0, 8.42, 0.0, 9.59, 0.0, 8.370000000000001, 0.0, 0.0, 0.0, 0.0, 8.33, 8.33, 0.0, 0.0, 0.0, 0.0, 9.52, 0.0, 0.0, 0.0, 8.23, 9.57, 0.0, 0.0, 8.28, 0.0, 0.0, 0.0, 8.36, 8.34, 9.34, 8.29, 0.0, 0.0, 8.3, 0.0, 8.14, 0.0, 0.0, 8.3, 9.34, 0.0, 9.28, 7.3100000000000005, 0.0, 0.0, 0.0, 0.0, 0.0, 8.46, 9.32, 9.32, 8.0, 9.08, 0.0, 0.0, 8.2, 0.0, 8.23, 8.26, 8.22, 8.29, 0.0, 11.35, 0.0, 0.0, 0.0, 0.0, 0.0, 8.36, 10.379999999999999, 0.0, 10.34, 0.0, 9.22, 0.0, 0.0, 8.16, 8.51, 0.0, 0.0, 9.19, 0.0, 0.0, 9.27, 0.0, 0.0, 0.0, 9.42, 8.3, 0.0, 10.370000000000001, 9.3, 10.370000000000001, 0.0, 9.28, 0.0, 9.16, 0.0, 9.22, 0.0, 9.35, 0.0, 0.0, 9.28, 0.0, 0.0, 0.0, 9.32, 0.0, 9.31, 0.0, 0.0, 9.21, 0.0, 9.41, 9.31, 9.43, 0.0, 8.1, 9.29, 9.36, 0.0, 8.379999999999999, 0.0, 0.0, 8.32, 0.0, 0.0, 0.0, 8.36, 0.0, 9.26, 8.24, 8.25, 9.26, 0.0, 9.23, 0.0, 0.0, 8.5, 8.370000000000001, 0.0, 8.26, 8.48, 9.16, 9.32, 9.2, 0.0, 0.0, 0.0, 9.19, 8.120000000000001, 0.0, 8.17, 9.17, 9.34, 0.0, 9.48, 9.44, 9.43, 8.32, 9.48, 0.0, 0.0, 0.0, 9.18, 9.18, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.09, 9.370000000000001, 0.0, 8.120000000000001, 0.0, 9.45, 0.0, 0.0, 0.0, 0.0, 9.32, 9.57, 9.57, 7.34, 9.47, 0.0, 11.72, 0.0, 0.0, 9.2, 9.0, 0.0, 9.17, 9.31, 9.31, 0.0, 9.56, 8.26, 0.0, 8.09, 0.0, 0.0, 8.129999999999999, 0.0, 8.36, 8.36, 0.0, 0.0, 0.0, 9.32, 7.43, 8.27, 8.24, 0.0, 10.35, 0.0, 8.39, 8.46, 0.0, 8.46, 0.0, 0.0, 10.33, 0.0, 7.890000000000001, 0.0, 8.14, 7.890000000000001, 0.0, 9.04, 0.0, 9.18, 0.0, 0.0, 0.0, 8.26, 0.0, 0.0, 0.0, 9.08, 0.0, 0.0, 0.0, 0.0, 8.129999999999999, 0.0, 8.33, 0.0, 0.0, 0.0, 8.44, 8.28, 8.48, 8.32, 8.31, 0.0, 0.0, 8.370000000000001, 0.0, 0.0, 9.34, 8.06, 0.0, 8.34, 8.28, 9.29, 8.34, 8.21, 8.1, 0.0, 0.0, 7.54, 0.0, 9.43, 0.0, 0.0, 0.0, 8.26, 8.26, 0.0, 0.0, 0.0, 0.0, 9.3, 0.0, 0.0, 0.0, 0.0, 0.0, 8.39, 8.29, 0.0, 8.23, 0.0, 8.25, 0.0, 0.0, 8.14, 0.0, 0.0, 8.27, 9.3, 0.0, 9.4, 9.4, 8.36, 0.0, 8.66, 8.21, 0.0, 0.0, 0.0, 8.09, 9.33, 8.23, 7.99, 0.0, 10.24, 9.29, 9.29, 0.0, 8.23, 0.0, 9.26, 0.0, 10.27, 10.33, 8.26, 0.0, 0.0, 8.24, 0.0, 0.0, 9.23, 9.28, 8.28, 0.0, 8.61, 8.24, 8.36, 0.0, 0.0, 11.46, 0.0, 9.56, 0.0, 0.0, 8.32, 0.0, 0.0, 10.26, 0.0, 9.23, 0.0, 9.18, 8.59, 8.59, 0.0, 8.59, 8.58, 0.0, 0.0, 8.22, 9.47, 0.0, 0.0, 0.0, 9.4, 8.24, 0.0, 9.4, 9.4, 0.0, 10.23, 10.120000000000001, 10.31, 9.22, 8.15, 9.22, 0.0, 8.34, 0.0, 10.15, 8.22, 0.0, 9.22, 0.0, 10.31, 8.4, 0.0, 0.0, 8.23, 8.39, 0.0, 9.29, 9.18, 9.33, 0.0, 9.29, 9.27, 0.0, 0.0, 0.0, 9.379999999999999, 8.24, 0.0, 0.0, 9.379999999999999, 8.18, 10.47, 0.0, 0.0, 8.18, 0.0, 0.0, 0.0, 9.39, 10.34, 8.61, 10.22, 10.24, 10.14, 10.41, 0.0, 10.41, 0.0, 9.44, 10.47, 0.0, 0.0, 9.15, 0.0, 9.34, 10.129999999999999, 8.129999999999999, 9.2, 0.0, 0.0, 0.0, 8.44, 8.44, 0.0, 10.28, 9.32, 0.0, 9.34, 0.0, 10.19, 8.44, 8.16, 9.14, 8.16, 0.0, 0.0, 0.0, 8.15, 9.120000000000001, 10.44, 10.26, 0.0, 0.0, 0.0, 10.36, 10.26, 10.26, 0.0, 8.18, 0.0, 0.0, 8.23, 9.22, 0.0, 10.27, 0.0, 0.0, 0.0, 0.0, 9.27, 9.41, 0.0, 9.3, 9.2, 10.17, 10.22, 8.35, 10.24, 0.0, 0.0, 0.0, 10.29, 9.36, 0.0, 0.0, 0.0, 8.49, 0.0, 0.0, 0.0, 8.15, 0.0, 0.0, 9.29, 0.0, 8.31, 10.18, 0.0, 9.4, 0.0, 8.2, 0.0, 9.42, 0.0, 0.0, 8.120000000000001, 10.379999999999999, 0.0, 0.0, 0.0, 10.33, 0.0, 0.0, 0.0, 10.15, 8.2, 9.11, 9.35, 0.0, 0.0, 0.0, 8.41, 0.0, 10.27, 0.0, 9.17, 10.78, 9.29, 0.0, 9.3, 0.0, 9.120000000000001, 0.0, 9.39, 0.0, 0.0, 0.0, 10.379999999999999, 10.3, 0.0, 9.22, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 9.28, 0.0, 9.39, 10.3, 9.46, 8.15, 9.23, 8.15, 0.0, 0.0, 8.16, 9.21, 0.0, 0.0, 0.0, 0.0, 10.32, 9.21, 9.32, 9.2, 0.0, 0.0, 0.0, 9.27, 9.27, 8.19, 9.379999999999999, 0.0, 9.33, 0.0, 0.0, 10.52, 0.0, 0.0, 0.0, 9.16, 0.0, 9.21, 0.0, 10.27, 0.0, 8.14, 0.0, 10.4, 10.4, 10.4, 0.0, 8.32, 9.15, 9.1, 9.26, 9.29, 0.0, 9.24, 0.0, 9.26, 0.0, 0.0, 8.4, 9.370000000000001, 0.0, 0.0, 7.3, 8.1, 8.16, 9.22, 0.0, 9.33, 0.0, 8.49, 9.41, 8.28, 0.0, 0.0, 0.0, 0.0, 0.0, 9.379999999999999, 0.0, 0.0, 9.24, 7.279999999999999, 0.0, 0.0, 9.370000000000001, 9.370000000000001, 9.26, 8.39, 9.35, 0.0, 8.3, 0.0, 0.0, 0.0, 9.29, 9.35, 0.0, 8.36, 8.120000000000001, 0.0, 0.0, 7.41, 0.0, 0.0, 8.3, 9.33, 8.34, 9.4, 9.4, 0.0, 9.18, 9.26, 0.0, 0.0, 0.0, 0.0, 9.39, 9.39, 0.0, 8.34, 0.0, 0.0, 8.26, 0.0, 0.0, 9.25, 8.34, 0.0, 8.36, 9.6, 0.0, 9.07, 8.24, 8.36, 0.0, 0.0, 0.0, 8.24, 0.0, 9.27, 8.24, 8.26, 8.11, 0.0, 0.0, 0.0, 0.0, 8.3, 0.0, 8.19, 8.35, 0.0, 8.3, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 9.44, 0.0, 9.43, 10.28, 9.22, 0.0, 9.56, 0.0, 8.04, 0.0, 8.27, 8.34, 0.0, 9.26, 9.26, 9.41, 8.3, 0.0, 8.370000000000001, 9.26, 10.42, 0.0, 9.18, 0.0, 8.53, 0.0, 0.0, 8.379999999999999, 0.0, 0.0, 0.0, 0.0, 8.41, 8.41, 8.39, 10.32, 9.41, 0.0, 8.41, 0.0, 7.52, 0.0, 7.88, 8.43, 0.0, 10.54, 0.0, 0.0, 8.370000000000001, 8.379999999999999, 9.44, 8.26, 0.0, 0.0, 0.0, 0.0, 9.51, 0.0, 0.0, 0.0, 0.0, 0.0, 8.42, 0.0, 8.44, 0.0, 8.42, 8.34, 0.0, 8.33, 0.0, 9.42, 0.0, 8.6, 0.0, 8.39, 0.0, 9.36, 0.0, 9.5, 8.57, 8.46, 9.56, 0.0, 9.25, 10.17, 9.36, 0.0, 11.24, 10.44, 0.0, 0.0, 8.21, 8.21, 0.0, 0.0, 8.29, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 9.42, 0.0, 9.36, 0.0, 0.0, 0.0, 10.29, 0.0, 9.34, 9.55, 0.0, 8.29, 9.32, 0.0, 0.0, 9.42, 8.45, 0.0, 0.0, 8.57]
      Nova Coluna    pH  density  quality  alcohol  sulphates
9            8.35  3.35  0.99780        5     10.5       0.80
10           8.28  3.28  0.99590        5      9.2       0.54
11           8.35  3.35  0.99780        5     10.5       0.80
13           8.26  3.26  0.99740        5      9.1       1.56
14           0.00  3.16  0.99860        5      9.2       0.88
...           ...   ...      ...      ...      ...        ...
1593         9.42  3.42  0.99651        6      9.5       0.82
1594         8.45  3.45  0.99490        5     10.5       0.58
1595         0.00  3.52  0.99512        6     11.2       0.76
1596         0.00  3.42  0.99574        6     11.0       0.75
1597         8.57  3.57  0.99547        5     10.2       0.71

[940 rows x 6 columns]

In [8]:
# 8. Embaralhe aleatoriamente o dataframe (índices e valores)
import numpy as np

embaralhado = nova_data_vinhos.reindex(np.random.permutation(nova_data_vinhos.index))
print(embaralhado)

      Nova Coluna    pH  density  quality  alcohol  sulphates
745          0.00  3.52  0.99768        6      9.5       0.73
980          9.32  3.32  0.99774        6     10.5       0.71
1525         8.33  3.33  0.99552        5      9.7       0.64
642          0.00  3.39  0.99910        5      9.4       0.62
1430         8.37  3.37  0.99560        5     10.4       0.62
...           ...   ...      ...      ...      ...        ...
927          0.00  3.20  0.99736        4      9.2       0.59
938         10.34  3.34  0.99356        7     12.9       0.72
17           8.11  3.11  0.99680        5      9.3       1.28
1002         0.00  3.26  0.99516        7     11.7       0.84
1329         0.00  3.29  0.99616        6      9.8       0.56

[940 rows x 6 columns]

In [9]:
# 9. Ordene o Dataframe seguindo um critério definido por você (valores de alcool decrescente)

embaralhado2=embaralhado.sort_values(by='alcohol', ascending=False)
print(embaralhado2)

      Nova Coluna    pH  density  quality    alcohol  sulphates
588         11.72  3.72  0.99170        8  14.000000       0.74
467          9.32  3.32  0.99470        6  14.000000       0.79
1477         0.00  3.54  0.99182        7  13.600000       0.88
1132        10.38  3.38  0.99330        7  13.600000       0.88
1475        10.54  3.54  0.99182        7  13.566667       0.88
...           ...   ...      ...      ...        ...        ...
120          0.00  3.30  0.99620        5   9.000000       0.57
1457         8.41  3.41  0.99706        5   9.000000       0.58
234          9.32  3.32  0.99685        6   9.000000       0.55
371          9.32  3.32  0.99670        6   8.700000       0.87
1436         0.00  3.15  0.99914        5   8.500000       0.65

[940 rows x 6 columns]

In [10]:
# 10. Escolha uma coluna numérica e um coluna com strings e utilize a função Groupby para mostrar os totais da  coluna

# OBS: nenhuma coluna da base de dados escolhida possui valores string

group=embaralhado2.groupby(["alcohol"])
print(group.size().reset_index(name='counts'))

      alcohol  counts
0    8.500000       1
1    8.700000       1
2    9.000000      18
3    9.050000       1
4    9.100000      14
5    9.200000      52
6    9.233333       1
7    9.250000       1
8    9.300000      41
9    9.400000      66
10   9.500000      97
11   9.550000       2
12   9.566667       1
13   9.600000      29
14   9.700000      29
15   9.800000      42
16   9.900000      28
17  10.000000      39
18  10.033333       2
19  10.100000      33
20  10.200000      35
21  10.300000      17
22  10.400000      21
23  10.500000      41
24  10.550000       1
25  10.600000      16
26  10.700000       9
27  10.800000      18
28  10.900000      23
29  11.000000      33
30  11.100000      19
31  11.200000      24
32  11.300000      19
33  11.400000      15
34  11.500000      15
35  11.600000       9
36  11.700000      12
37  11.800000      15
38  11.900000      16
39  12.000000      11
40  12.100000       8
41  12.200000       7
42  12.300000       5
43  12.400000       7
44  12.500000       9
45  12.600000       5
46  12.700000       5
47  12.800000      10
48  12.900000       4
49  13.000000       4
50  13.100000       2
51  13.300000       1
52  13.500000       1
53  13.566667       1
54  13.600000       2
55  14.000000       2

In [11]:
# 11. Utilize a função MAPS para fazer algum tipo de substituição no Dataframe

# multiplica todos os valores da coluna por 10 
embaralhado["pH"]=embaralhado["pH"].map(lambda x: x*10)
print(embaralhado)

      Nova Coluna    pH  density  quality  alcohol  sulphates
745          0.00  35.2  0.99768        6      9.5       0.73
980          9.32  33.2  0.99774        6     10.5       0.71
1525         8.33  33.3  0.99552        5      9.7       0.64
642          0.00  33.9  0.99910        5      9.4       0.62
1430         8.37  33.7  0.99560        5     10.4       0.62
...           ...   ...      ...      ...      ...        ...
927          0.00  32.0  0.99736        4      9.2       0.59
938         10.34  33.4  0.99356        7     12.9       0.72
17           8.11  31.1  0.99680        5      9.3       1.28
1002         0.00  32.6  0.99516        7     11.7       0.84
1329         0.00  32.9  0.99616        6      9.8       0.56

[940 rows x 6 columns]

In [12]:
# 12.Exporte o último Dataframe para um arquivo CSV e salve no seu drive


from google.colab import  drive

drive.mount('/drive')

embaralhado.to_csv("/drive/MyDrive/embaralhado.csv")

Mounted at /drive

In [13]:
# 13.Exporte o mesmo Dataframe para um arquivo JSON e salve no seu drive

embaralhado.to_json("/drive/MyDrive/embaralhado.json")

In [16]:
# 14.Salve o Notebook no seu repositório do Github junto com os arquivos exportados